<html>

<body>
   {% load static %}
    <script src={% static 'javascript/sample.js'%}>

</script>
  <form action="{% url 'save_to_db' %}" method="post">{% csrf_token %}
        <table align="center" border="2" width="800">
            <tr><th>Registration Page</th></tr>
            <tr><th><input type="text" placeholder="Name" required name="t1"></th></tr>


            <tr>
                <th>
                    <input id="contact" type="number" placeholder="Contact" required name="t2" onblur="validate()">
                    <span id="s_contact"></span>
                </th></tr>


            <tr><th><input id="mail" type="email" placeholder="Email" required name="t3" onblur="validate_mail()">
            <span id="s_email"></span></th></tr>

            <tr><th><input type="password" placeholder="Password" required name="t4"></th></tr>
            <tr><th>
                <button type="submit" disabled id="b1">Save</button>
            </th></tr>
        </table>
    </form>

    </body>
</html>